/* Created by: Niko Shivkumar
* Created on: june 3rd 2024
* This file contains the CSS for index.php
*/

html {
  background-color: #a04c46;
}

h1 {
  background-color: #eede91;
  padding: 25px;
  text-align: center;
  border: 5px solid black;
  margin-left: 500px;
  margin-right: 500px;
}

h3 {
  padding: 25px;
  text-align: center;
  border: 1px solid black;
  margin-left: 600px;
  margin-right: 600px;
  font: 12pt Arial;
  background-color: #d2946a;
}

form {
  text-align: center;
  background-color: #a9aa6e;
  border: 2px solid black;
  padding: 10px;
  margin: 2px;margin-left: 750px;
  margin-right: 750px;
}

iframe {
  text-align: center;
  background-color: #77966e;
  border: 2px solid black;
  padding: 10px;
  margin: 2px;
  margin-left: 41.5%;
  margin-right: 45%;
}