run = "php -S 0.0.0.0:8000 -t ."

entrypoint="index.php"
hidden=[".config"]
modules = ["web:v2-20230623-0b7a606"]

[nix]
channel = "stable-23_11"

[deployment]
run = ["php", "-S", "0.0.0.0:8000", "-t", "."]
deploymentTarget = "static"

[[ports]]
localPort = 8000
externalPort = 80
